.container {
    display: flex;
    flex-direction: column;

    img {
        object-fit: cover;
        height: 175px;
        border-radius: 10px 10px 0px 0px;
    }

    .bottom {
        height: 100px;
        background-color: #ebebeb;
        border-radius: 0px 0px 10px 10px;

        p {
            margin-left: 15px;
            padding-right: 20px;
            padding-top: 10px;
            font-weight: 700;
        }
    }
}
